<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>What do you Want yo upload ???</h1>
	<hr>
	<a href="/upload/Notes">Notes</a>
	<br>
	<a href="/upload/circular">Circulars</a>
</body>
</html>